<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

<div class="container d-flex justify-content-center align-items-center vh-100">

  <div class="card p-4 shadow" style="width:450px;">

    <h3 class="center">Reset Password</h3>

    <form #resetForm="ngForm" (ngSubmit)="resetPassword()">
 <!-- User Id -->
      <div class="form-group">
        <label>User Id</label>
        <input
        type="number"
        class="form-control"
        [(ngModel)]="resetData.id"
        name="id"
        required
        #id="ngModel"
        placeholder="Enter your user id" style="border-radius: 20px;">

        <small class="text-danger" *ngIf="id.invalid && id.touched">
          User Id is required
        </small>
      </div>

      <!-- Email -->
      <div class="form-group">
        <label>Email</label>
        <input
        type="email"
        class="form-control"
        [(ngModel)]="resetData.email"
        name="email"
        required
        email
        #email="ngModel"
        placeholder="Enter your email" style="border-radius: 20px;">

        <small class="text-danger" *ngIf="email.invalid && email.touched">
          Enter valid email
        </small>
      </div>

      <!-- New Password -->
      <div class="form-group">
        <label>New Password</label>
        <input
        type="password"
        class="form-control"
        [(ngModel)]="resetData.newPassword"
        name="newPassword"
        required
        minlength="6"
        #password="ngModel"
        placeholder="Enter new password" style="border-radius: 20px;">

        <small class="text-danger" *ngIf="password.invalid && password.touched">
          Password must be at least 6 characters
        </small>
      </div>

     <button
type="submit"
class="btn btn-success btn-block"
[disabled]="resetForm.invalid" style="border-radius: 20px;">
Reset Password
</button>
      <br>

      <button
type="button"
class="btn btn-secondary btn-block"
routerLink="/login" style="border-radius: 20px;">
Back to Login
</button>
    </form>

  </div>

</div>