<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<div class="container d-flex justify-content-center align-items-center vh-100" >

  <div class="card p-4 shadow" style="width: 400px;" >

    <h3 class="text-center mb-4">Login Page</h3>

    <form #loginForm="ngForm" (ngSubmit)="login()" >

      <!-- Email -->
      <div class="form-group">
        <label style="color: rgb(29, 27, 27);">Email</label>

        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="loginData.email"
          #email="ngModel"
          required
          email
          placeholder="Enter email"  style="border-radius: 15px;" >

        <!-- Error Message -->
        <small class="text-danger" *ngIf="email.invalid && email.touched">
          Please enter a valid email
        </small>

      </div>

      <!-- Password -->
      <div class="form-group">
        <label>Password</label>

        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="loginData.password"
          #password="ngModel"
          required
          minlength="4"
          placeholder="Enter password"  style="border-radius: 15px; " >

        <small class="text-danger" *ngIf="password.invalid && password.touched">
          Password is required
        </small>

      </div>

      <!-- Login Button -->
      <button
        type="submit"
        class="btn btn-primary btn-block"
        [disabled]="loginForm.invalid"  style="border-radius: 15px;color: rgb(41, 242, 6);" >
        Login
      </button>

    </form>

    <hr>

<button
type="button"
class="btn btn-warning text-dark btn-block"
(click)="goToSignup()"  style="border-radius: 15px;color: rgb(41, 242, 6);" >
Create Account (Signup)
</button>
<br>
<button
  type="button"
  class="btn btn-success btn-block"
  (click)="goToSignupCrud()"  style="border-radius: 15px;color: rgb(232, 126, 26);" >
  Signup User PageCrud
</button>
<div class="text-right mb-5">
  <a
    type="button"
    class="btn btn-link p-0"
    routerLink="/reset-password" style="border-radius: 15px;width: 70%;">
    Forgot Password?
</a>
</div>
</div>

</div>