
<div class="container mt-4">

  <h5 class="mb-4">Employee Search</h5>

  <!-- 🔹 Search Box -->
  <div class="card p-3 shadow-sm mb-3">
    <div class="form-group row align-items-center">
    <label  class="col-sm-2 col-form-label fw-bold"style="background-color: #ec0c9a;border-radius: 50px;">Enter Employee ID</label>
    <div class="col-sm-4">
      <input type="number"
             [(ngModel)]="searchId"
             class="form-control"
             placeholder="Enter Employee ID" style="border-radius: 50px;">
    </div>

    <div class="col-sm-2">
      <button class="btn btn-success w-100" style="border-radius: 50px;" (click)="getEmployeeById()">
        Get Employee
      </button>
    </div>
    <div class="col-sm-2">
        <button class="btn btn-secondary w-100" style="border-radius: 50px;" (click)="clearData()">
          ❌ Clear
        </button>
      </div>
       <div class="col-sm-2">
        <button class="btn btn-primary w-100" style="border-radius: 50px;" (click)="logoutData()">
           Logout
        </button>
      </div>
  </div>

  <hr>

  <!-- 🔹 Result -->
  <div *ngIf="employee()" class="card shadow-lg p-3 border-0">

    <h4  class="text-success mb-3">Employee Details</h4>

    <table class="table table-bordered table-hover text-center">
      <tr>
        <th>ID</th>
        <td>{{employee()?.id}}</td>
      </tr>
      <tr>
        <th>Name</th>
        <td>{{employee()?.name}}</td>
      </tr>
      <tr>
        <th>Role</th>
        <td>{{employee()?.role}}</td>
      </tr>
      <tr>
        <th>Department</th>
        <td>{{employee()?.department}}</td>
      </tr>
      <tr>
        <th>Salary</th>
        <td>{{employee()?.salary}}</td>
      </tr>
    </table>

  </div>

  <!-- 🔹 No Data -->
  <div *ngIf="notFound" class="text-danger mt-3 text-center">
    Employee not found
  </div>

</div>
</div>